$total-width: 100%;

::-moz-selection { 
    color: #fff;
    background: $color-theme;
}

::selection {
    color: #fff; 
    background: $color-theme;
}

html,body {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   overflow: hidden;
   -webkit-font-smoothing: antialiased;
}
body {
	font-family: 'nexa_lightregular';
	font-size: em(18);
	color: #808694;
	background: $color-theme;
}
a {
	text-decoration: none;
	@include transition(all, 0.3s, ease-in-out);
	color: #99a0b0;
	&:hover{
		color: $color-theme;
	}
}
p {
	line-height: 22px;margin-bottom: 20px;
	color: #333;
}
h1 {
	font-family: 'nexa_boldregular';
	font-size: em(32);
	color: #000;
	line-height: 50px;
  	margin-bottom: 14px;
}
.black {
	color: #000!important;
}
.h100 {
	height: 100px!important;
}

.app-wrapper {
	position: absolute;
   	width: 100%;
   	height: 100%;
}
.container {
	max-width: 980px;
	margin: 0 auto;
	float: none;
	@include clearfix();
}

/* ---> Icons <--- */
.iconFa {
	font-family: 'FontAwesome';
	font-style: normal;
	position: relative;
}
.iconRedirectNxt:before {
	content: '\f04b';
}
.iconPrev .iconFa:before {
	content: '\f100';
}
.iconNxt .iconFa:before {
	content: '\f101';
}

/* ---> Header <--- */
header {
	width: 100%;
	height: 85px;
	background: #f6f7f7;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	@include transition(all, 0.3s, ease-in-out);
	@include boxShadow(0, 8px, 0, rgba(0,0,0,0.07), $inset: false);

	.header-content {
		@include column(12);
	}

	.logo {
		font-family: 'nexa_boldregular';
		/*font-size: em(28);*/
		font-size: 30px;
		margin-top: 25px;
		float: left;
		cursor: pointer;
	}

	/* ---> Navigation Menu <--- */
	.navigation-menu {
		float: right;
		margin-top: 25px;
		position: relative;
		display: block;
		@include transition(all, 0.3s, ease-in-out);
		
		a {
			color: #808694;
			font-size: 22px;
			margin-left: 75px;
			cursor: pointer;
			&.active, &:hover{
				color: $color-theme;
			}
		}
	}
}

/* ---> Section Animation <--- */
.slide-section {
    @include transition(all, 0.7s, ease-in-out);
    @include translateX(0);
}

.slide-section.ng-enter {
   @include translateX(100%);
}
.slide-section.ng-enter.slideRight {
   @include translateX(-100%);
}

.slide-section.ng-enter.ng-enter-active, .slide-section.ng-leave {
    @include translateX(0);
}

.slide-section.ng-leave.ng-leave-active {
    @include translateX(-100%);
}
.slide-section.ng-leave.ng-leave-active.slideRight {
    @include translateX(100%);
}


.view-container {
	position: absolute;
	left: 0;
	top: 85px;
	right: 0;
	bottom: 0;
}

/* ---> Section <--- */
.view-section {
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
}
.section-head {
	font-size: em(36);
    text-align: center;
    font-family: 'nexa_lightregular';
    color: #808694;
    padding: 22px 0;
	
	@include animation(blink, 1s, linear);

}

/* ---> Section: WELCOME <--- */
#welcome {
	.welcome-text{
		color: #fff;
		text-align: center;
		position: fixed;
		top: 45%;
		left: 0;
		width: 100%;
		font-family: 'nexa_lightregular';
		/*font-size: em(31);*/
		font-size: 34px;
		line-height: 49px;

		.black{
			@include animation(blink, 1s, linear);
		}
	}
	.arrow-redirect {
		cursor: pointer;
		color: #000;
		font-size: em(20);
		position: fixed;
		bottom: 25px;
		left: 50%;
		@include transition(all, 0.3s, ease-in-out);
		.iconRedirectNxt:before {
			font-size: em(16);
			color: #000;
		}
		&:hover{color: #fff;}
	}
}
@keyframes blink{
  to{opacity: .0;}
}
@-moz-keyframes blink{
  to{opacity: .0;}
}
@-webkit-keyframes blink{
  to{opacity: .0;}
}

/* ---> Section: WORK <--- */
#work {
	background: #E8EAE9;
	overflow-y: scroll;
	padding-bottom:50px;
	.iconPrev, .iconNxt {
		display: block;
		width: 57px;
		height: 54px;
		line-height: 50px;
		background: #000;
		color: #fff;
		position: fixed;
		top: 50%;
		margin-top: -27px;
		z-index: 5;
		cursor: pointer;
		text-align: center;
		.iconFa:before {
			color: #fff;
			position: relative;
			font-size: em(24);
			left: 0;
			@include transition(all, 0.3s, ease-in-out);
		}
		&:hover {
			.iconFa:before {
				color: $color-theme;
			}
		}
	}
	.iconPrev { left: 0;}
	.iconNxt { right: 0;}

	.work-items {
		  display: inline-block; 
		  width: 100%;
		  @include transition(all, 0.3s, ease-in-out);
		  
		li {
			text-align: left;
			cursor: pointer;
			overflow: hidden;
			width: 33.33%;
			height: 300px;
			line-height: 300px;
			position: relative;
			display: inline-block;
			vertical-align: top;
			&:before{
				content:'';
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-right: 1px solid #E8EAE9;
				border-bottom: 1px solid #E8EAE9;
				@include transition(all, 0.3s, ease-in-out);
				background: rgba(0,0,0,0.4);
			}

			/*Thumbnails set annimation*/
			&.isVisible.ng-enter {
			    @include transition(all, 0.5s, linear);
			   	opacity: 0;
			    left: -50px;
			}
			 
			&.isVisible.ng-enter.ng-enter-active {
			    opacity: 1;
			    left: 0;
			}
			
			 
			/*&.ng-leave {
				@include animation(slide-over, 0.5s, linear);
			}*/

			img {
				display: block;
				vertical-align: middle;
				display: inline-block;
				@include transition(all, 0.3s, ease-in-out);
			}
			.work-item-desc {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				
				
				z-index: 2;
				@include transition(all, 0.3s, ease-in-out);

				.work-item-title {
					position: relative;
					line-height: 20px;
					display: block;
					vertical-align: middle;
					font-family: 'nexa_boldregular';
					color: #fff;
					margin: 0 2em 0;
					padding: 2em 0 0.5em;
					overflow: hidden;
					&:after {
						content:'';
						height: 2px;
						width: 100%;
						background: #fff;
						position: absolute;
						left: 0;
						bottom: 0;
						@include transition(all, 0.3s, ease-in-out);
						@include translateX(-110%);
					}
				}
			}
			&:hover {
				&:before { background: rgba(0,0,0,0.8); }
				img { 
					@include scale(1.1); 
				}
				/*&:before { background: rgba(255,255,255,0.7); }*/
				/*.work-item-desc{ opacity: 1;}*/
				.work-item-title {
					color: $color-theme;
					&:after {
						@include translateX(0);
						background: $color-theme;
					}
				}
			} 
		}
	}

	@keyframes slide-over {
	  from {opacity: 1;left: 0;}
	  to {opacity: 0;left: -50px;}
	}
	@-webkit-keyframes slide-over {
	  from {opacity: 1;left: 0;}
	  to {opacity: 0;left: -50px;}
	}
	@-moz-keyframes slide-over {
	  from {opacity: 1;left: 0;}
	  to {opacity: 0;left: -50px;}
	}
	@-o-keyframes slide-over {
	  from {opacity: 1;left: 0;}
	  to {opacity: 0;left: -50px;}
	}
}

/*Loading Spinner*/
.loadingSpinner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

/*Work detail popup*/
.work-detail {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background: url(../img/pattern.png) repeat #f0f0f0;
	overflow-y: scroll;
	@include transition(all, 0.3s, ease-in-out);

	.work-detail-close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 33px;
		height: 33px;
		line-height: 33px;
		cursor: pointer;
		border:1px solid #000000;
		font-family: 'nexa_boldregular';
		font-size: 16px;
		color: #333;
		text-align: center;
		@include transition(all, 0.3s, ease-in-out);

		&:hover{
			color: #fff;
			background: $color-theme;
			border-color: $color-theme;
			@include rotate(180deg)
		}
	}
	
	.container {
		padding: 50px 0;
	}
	.work-item-preview-img {
		@include column(7);
		img {
			max-width: 100%;
		}
	}
	.work-item-details-desc {
		@include column(5);
		h1 {
			margin-top: 10px;
		}
	}
	.visit-site {
		position: relative;
		display: inline-block;
		border: 2px solid #000;
		@include transition(all, 0.3s, ease-in-out);
		.animated-bg {
			@include transition(all, 0.3s, ease-in-out);
			background: $color-theme;
			position: absolute;
			height: 100%;
			width: 0px;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}
		&:hover {
			border-color: $color-theme;
			.animated-bg{
				width: 100%;
			}
			a {
				color: #fff;
			}
		}
		a {
			display: block;
			color: #333;
			padding: 8px 25px;
			position: relative;
			z-index: 2;
			font-family: 'nexa_boldregular';
			font-size: em(16);
		}
	}
}
/* ---> Work detail popup Animation <--- */
.slideEffectUp{
	@include translateY(0%);
}
.slideEffectDown{
	@include translateY(100%);
}

/* ---> Section: SKILLS <--- */
#skills {
	background: #343434;
	color: #F6F7F7;
	overflow-y: scroll;
	.section-head{ color: #F6F7F7;}
	.skills-list {
		width: 80%;
		display: block;
		margin: 0 auto;
		li {
			position: relative;
			display: inline-block;
			width: 100%;
			height: 174px;
			margin: 20px 0;
			.skill-img {
				float: left;
				width: 174px;
				height: 174px;
				margin-right: 20px;
				@include borderRadius(50%);
				img{
					display: inline-block;
					@include borderRadius(50%);
					border:3px solid transparent;
					@include transition(all, 0.3s, ease-in-out);
				}
			}
			.meter {
				 margin-left: 194px;
				 text-align: center;
				 position: relative;
				 display: block;
				 height: 50px;
				 line-height: 50px;
				 background: #000;
				 overflow: hidden;
				 top: 50%;
				 margin-top: -25px;
				 @include borderRadius(10px);
				 &:after{
				 	@include transition(all, 0.3s, ease-in-out);
					content: '';
					width: 0;
					height: 100%;
					opacity: 0;
					border: 2px solid $color-theme;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 12;
					border-radius: 10px;
				}
				 .meter-level {
					background: $color-theme;
				  	display: inline-block;
				  	position: absolute;
				  	height: 100%;
				  	left: 0;
				  	z-index: 9;
				  	@include borderRadiusCombination(10px,0,0,10px);
				}
				.meter-value {
					position: relative;
					z-index: 10;
					font-family: 'nexa_lightregular';
					/*font-size: em(35);*/
					font-size: 35px;
					color: #fff
				}
			}
			&:hover {
				.skill-img img {
					border-color: $color-theme;
					@include scale(0.93)
				}
				.meter:after{
					width:100%;
					opacity: 1;
				}
			}
		}
	}

	footer {
		text-align: right;
		margin-top: 50px;
		padding:0 20px 15px;
		font-size: 12px;
	}
}














































