$total-width: 100%;

::-moz-selection { 
    color: #fff;
    background: $color-theme;
}

::selection {
    color: #fff; 
    background: $color-theme;
}

html,body {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   overflow: hidden;
   -webkit-font-smoothing: antialiased;
}
body {
	font-family: 'nexa_lightregular';
	font-size: em(18);
	color: #808694;
	background: $color-theme;
}
a {
	text-decoration: none;
	@include transition(all, 0.3s, ease-in-out);
	color: #99a0b0;
	&:hover{
		color: $color-theme;
	}
}
.black {
	color: #000!important;
}

.app-wrapper {
	position: absolute;
   	width: 100%;
   	height: 100%;
}
.container {
	max-width: 980px;
	margin: 0 auto;
	float: none;
	@include clearfix();
}

/* ---> Icons <--- */
.iconFa {
	font-family: 'FontAwesome';
	font-style: normal;
	position: relative;
}
.iconRedirectNxt:before {
	content: '\f04b';
}
.iconPrev .iconFa:before {
	content: '\f100';
}
.iconNxt .iconFa:before {
	content: '\f101';
}

/* ---> Header <--- */
header {
	width: 100%;
	height: 85px;
	background: #f6f7f7;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	@include boxShadow(0, 8px, 0, rgba(0,0,0,0.07), $inset: false);

	.header-content {
		@include column(12);
	}

	.logo {
		font-family: 'nexa_boldregular';
		font-size: em(28);
		margin-top: 23px;
		float: left;
		cursor: pointer;
	}

	.navigation-menu {
		float: right;
		margin-top: 32px;
		position: relative;
		display: block;
		
		a {
			color: #808694;
			font-size: 22px;
			margin-left: 75px;
			cursor: pointer;
			&.active, &:hover{
				color: $color-theme;
			}
		}
	}
}

/* ---> Section Animation <--- */
.slide-section {
    @include transition(all, 0.7s, ease-in-out);
    @include translateX(0);
}

.slide-section.ng-enter {
   @include translateX(100%);
}

.slide-section.ng-enter.ng-enter-active, .slide-section.ng-leave {
    @include translateX(0);
}

.slide-section.ng-leave.ng-leave-active {
    @include translateX(-100%);
}


.view-container {
	position: absolute;
	left: 0;
	top: 85px;
	right: 0;
	bottom: 0;
}

/* ---> Section <--- */
.view-section {
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
}
.section-head {
	font-size: em(36);
    text-align: center;
    font-family: 'nexa_lightregular';
    color: #808694;
    padding: 22px 0;
	
	@include animation(blink, 1s, linear);

}

/* ---> Section: WELCOME <--- */
#welcome {
	.welcome-text{
		color: #fff;
		text-align: center;
		position: fixed;
		top: 45%;
		left: 0;
		width: 100%;
		font-size: em(31);
		line-height: 49px;

		.black{
			@include animation(blink, 1s, linear);
		}
	}
	.arrow-redirect {
		cursor: pointer;
		color: #000;
		font-size: em(20);
		position: fixed;
		bottom: 25px;
		left: 50%;
		@include transition(all, 0.3s, ease-in-out);
		.iconRedirectNxt:before {
			font-size: em(16);
			color: #000;
		}
		&:hover{color: #fff;}
	}
}
@keyframes blink{
  to{opacity: .0;}
}
@-moz-keyframes blink{
  to{opacity: .0;}
}
@-webkit-keyframes blink{
  to{opacity: .0;}
}

/* ---> Section: WORK <--- */
#work {
	/*background: url(../img/pattern.png) repeat #fff;*/
	background: #E8EAE9;
	.iconPrev, .iconNxt {
		display: block;
		width: 57px;
		height: 54px;
		line-height: 50px;
		background: #000;
		color: #fff;
		position: fixed;
		top: 50%;
		margin-top: -27px;
		z-index: 5;
		cursor: pointer;
		text-align: center;
		.iconFa:before {
			color: #fff;
			position: relative;
			font-size: em(24);
			left: 0;
			@include transition(all, 0.3s, ease-in-out);
		}
		&:hover {
			.iconFa:before {
				color: $color-theme;
			}
		}
	}
	.iconPrev { left: 0;}
	.iconNxt { right: 0;}
	
	
	

}














































