<div class="work-detail slideEffectDown">
	<div class="work-detail-close" popupclose>X</div>
	<div class="container">
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	</div>
</div>