<section class="view-section" id="work" ng-controller="WorkCtrl">
	<div class="container">
		<h1 class="section-head">Work</h1>
		<img class="loadingSpinner" src="img/load.gif" ng-show="loadingSpinner" />
		<ul class="work-items">
			<li ng-hide="loadingSpinner" ng-class="{'isVisible' : !loadingSpinner}" ng-click="workDetail(item.id, item.imageSrc, item.title, item.role, item.url)" ng-repeat="item in workItemSegment" repeat-complete>
				<img alt="{{item.title}}" src="{{item.imageSrc}}"/>
				<div class="work-item-desc">
					<span class="work-item-title">{{item.title}}</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="iconPrev" ng-click="prevSet()"><i class="iconFa"></i></div>
	<div class="iconNxt" ng-click="nextSet()"><i class="iconFa"></i></div>
</section>

<div ui-view ></div>