<div class="work-detail slideEffect">
	<div class="work-detail-close">X</div>
	<div class="container">
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	</div>
</div>