<div class="work-detail">
	<div class="work-detail-close" popupclose>X</div>
	<div class="container">
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	WORK DETAIL <br>
	</div>
</div>